*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color:  rgb(29, 6, 56);
    --secondary-color: #000000;
    --white: #ececec;
    --completed-color: #9fd3c7;
    --neon-text-color: #f40;
    --shadow-color: #08f;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    background-color: var(--main-color);
}

.wrapper {
    height: 90vh;
    width: 80vw;
    display: grid;
    gap: 70px;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 25px;
    overflow: hidden;
}

/* Header */

header {
    width: 70vw;
    height: 15vh;
}

header h1 {
    text-align: center;
    padding: 30px;
    color: var(--white);
    animation: neon 3s infinite;
}



header .input-bar {
    display: grid;
    grid-template-columns: 32% 55% 10%;
    gap: 10px;
    height: 35px;
}

header input {
    border: none;
    border-radius: 5px;
    padding: 15px;
}

header .add-btn {
    background-color: #000;
    color: #fff;
    font-weight: 200;
    font-style: italic;
    border: 1 solid #fff;
    text-transform: uppercase;
    border-radius: 5px;
    animation: flicker 1.5s infinite alternate; 
    
}

.add-btn::-moz-selection {
    background-color: var(--shadow-color);
    color: var(--neon-text-color);
  }
  
  .add-btn::selection {
    background-color: var(--shadow-color);
    color: var(--neon-text-color);
  }
  
  .add-btn:focus {
    outline: none;
  }

header .add-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/* Main */

main {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--white);
}

main .task {
    display: grid;
    grid-template-columns: 15% 60% 11% 11%;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--white);
}

.task-title {
    font-weight: 900;
}

main button {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

main button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

/* Completed task */

main .completed {
    background-color: var(--completed-color);
}

/* Neon animations */

@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--white), -1px 1px 1px var(--white), 1px -1px 1px var(--white), 1px 1px 1px var(--white),
      0 0 3px var(--white), 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--white), -1px 1px 1px var(--white), 1px -1px 1px var(--white), 1px 1px 1px var(--white),
      0 0 5px var(--white), 0 0 15px var(--white), 0 0 25px var(--white),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--white), -1px 1px 1px var(--white), 1px -1px 1px var(--white), 1px 1px 1px var(--white),
      0 0 3px var(--white), 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }


@keyframes flicker {
      
        0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
          
            text-shadow:
                -0.2px -0.2px 1px #fff,
                0.2px 0.2px 1px #fff,
                0 0 2px var(--neon-text-color),
                0 0 4px var(--neon-text-color),
                0 0 6px var(--neon-text-color),
                0 0 8px var(--neon-text-color),
                0 0 10px var(--neon-text-color);
            
            box-shadow:
                0 0 .5px #fff,
                inset 0 0 .5px #fff,
                0 0 2px var(--shadow-color),
                inset 0 0 2px var(--shadow-color),
                0 0 4px var(--shadow-color),
                inset 0 0 4px var(--shadow-color);        
        }
        
        20%, 24%, 55% {        
            text-shadow: none;
            box-shadow: none;
        }    
    }